<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>JobBeacon User Profile!</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="registration-container">
    <h5>JobBeacon User Profile</h5>
    <div class="message" th:if="${username}" th:text="${username}"></div>
    <div class="message" th:if="${email}" th:text="${email}"></div>
    <p>Upload Your Resume (coming soon)</p>
    <div><a class="link" th:href="@{/logout}">Sign Off!</a></div>
</div>
</body>
</html>